<div class="container">

  <form [formGroup]="registerForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <ng-container *ngIf="name.dirty || name.touched">
      <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
    </ng-container>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
    <ng-container *ngIf="email.dirty || email.touched">
      <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email has wrong format</mat-error>
    </ng-container>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <ng-container *ngIf="password.dirty || password.touched">
      <mat-error *ngIf="email.hasError('required')">Password is required</mat-error>
    </ng-container>
  </form>

  <a mat-button routerLink="/auth/login">Sign In</a>
  <button mat-button (click)="signup()" [disabled]="registerForm.invalid">Sign Up</button>

</div>



