<mat-sidenav-container>
  <mat-sidenav [opened]="authService.isAuthorized" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="secure-page">Secure Page</a>
      <a mat-list-item routerLink="another-secure-page">Another Secure Page</a>
    </mat-nav-list>
    <mat-action-list>
      <button mat-list-item (click)="authService.logout()">Logout</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
